{% extends "layout.html" %}

{% block content %}


        <div class="header"><h1>The Lyric Trail</h1></div>
        <div class="squiggle"><img src="../static/css/squiggle.jpeg" /></div>
        <div class="gameplay">
            <p>You may:</p>

            <div class="choices">
                <ol>
                    <li><a class="choices-links" href='{{ url_for("play") }}'>Play the game</a></li>
                    <li><a class="choices-links" href='{{ url_for("instructions") }}'>Learn how to play</a></li>
                    <li><a class="choices-links" href='{{ url_for("profile") }}'>Stats</a></li>
                </ol>
            </div>

            <p>What is your choice? <span id="selection-made"></span></p>
        </div>
        <div class="squiggle"><img src="../static/css/squiggle.jpeg" /></div>


{% endblock %}
