<!doctype html>
<html>

    <head>
        <title>The Lyric Trail</title>
        <meta charset="UTF-8" />
        <meta name="author" content="Elanor Moore & Adhish Rajan" />
        <script src="{{ url_for('static', filename='js/dead.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <!-- <a href='{{ url_for("index") }}'>Back to Main Menu</a> -->
    <div id="content">
      {% block content %}
      <div class="squiggle"><img src="../static/css/squiggle.jpeg"/></div>
      <div class="gameplay" id="dead-div">
          <img src="../static/css/dead.png" id="dead-img" alt="">
          <a href='{{ url_for("play")}}'>PRESS ANY KEY TO START OVER</a>
      </div>
      <div class="squiggle"><img src="../static/css/squiggle.jpeg" /></div>
      {% endblock %}
    </div>
  </body>

</html>